h1 {
	width: 500px;
	margin: 10px auto;
	text-align: center;
	font-size: 4em;
}

p {
	margin-bottom: 0;
	text-align: center;
}

.play td {
	height: 60px;
	width: 60px;
	background-color: black;
	border-radius: 50%;
}

button {
	width: 60px;
	height: 30px;
}

table {
	margin : 30px auto;
	background-color: blue;
}

.player1 {
	font-size: 22px;
	color: red;
	font-weight: bold;
}
